.buttonscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  width: calc(25% - 10px); /* Adjusted to fit 4 buttons in a row */
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #a4b8a5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}
